  <!-- Site footer -->
  <footer class="site-footer" style="color: #e1e1e1; background-image: linear-gradient(to right, #111111 0%, #1e1e1e 100%); margin-top: 10vmax;">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">LNR stands for "Last Night Reads". It is a forum made to build a community of students in India, so that the students through out the country can interact with each other and the education level of India can rise to any developed country in terms of community
          </p>
        </div>

        <hr>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="https://www.youtube.com/channel/UCT_LFJqJuU9Cr0kn8XZYM5w">Youtube Channel</a></li>
            <li><a href="/technologies">Technologies Used</a></li>
            <li><a href="/acknowledgement">Acknowledgement</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    
</footer>
<style>
  .site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}

</style>