<!---

q_data - question data
a_data - answer data

-->

<div class="card ">
    <div class="card-body ">
        <div class="row">
        <div class="card-title col-md-10 ">{{q_data['Question']}}</div>
        <div class ="col-md-2 ml-auto">
            <p style = "font-size: 3.5vmin; padding: 1vmin; font-family: 'Quicksand',sans-serif;" >Answers - {{q_data['AnsCount']}}</p>
        </div>
        </div>
        <div class="row">
            <div class ="col-md-2">
                <p class="User-date">By: {{q_data['Username']}}</p>
            </div>
            <div class ="col-md-2">
                <p class="User-date">On: {{q_data['PostDate']}}</p>
            </div>
            <div class ="col-md-3">
                <p class="User-date">Subject: {{q_data['SubName']}}</p>
            </div>
            <div class ="col-md-2">
                <p class="User-date">Standard: {{q_data['StdName']}}</p>
            </div>
        </div>
        {% if a_data %}
        <p class='title-follow'  >Here are Answers</p>
            
            {% for data in a_data %}
                <div class="card" style="background-color: #191D30;
                color: #e1e1e1;">
                        <div class=" col-md-12 "  style = "font-size: 3.5vmin; padding: 0.5vmin; font-family: 'Quicksand',sans-serif;">
                            <p >{{data['Answer']}}</p>
                        </div>    
                <div class="row">
                    <div class="User-date col-md-3">
                        by: {{data['Username']}}
                    </div>
                    <div class="User-date col-md-3">
                        on: {{data['PostDate']}}
                    </div>
                </div>
            </div>
            <br>
            {% endfor %}
        {% else %}
        <p class='title-follow'  >No Answers yet.</p>
        
        {% endif %}
    </div>
</div>
<style>
    .card-title{
        font-size: 5.5vmin;
        font-family: 'Quicksand',sans-serif;
        font-weight: 500;
    }
    .User-date{
        font-size: 2vmin;
        font-family: 'Quicksand', sans-serif;
    }
    .card{
        background-color: #111111;
        color: #e1e1e1;
        padding: 2vh;
        margin-top: 1vmin;
    }

    .title-follow{
        margin-top: 5vmin;
        color:#e1e1e1;
        font-family: 'Quciksand',sans-serif;
        font-size: 2vmax;
    }
    
    



</style>