*

/*-------------------------------HOME-Banner--------------------------------*/
.bottom-img{
    width: 100%;
}
#Banner{
    background-image: linear-gradient(to right, #000000 0%, #1e1e1e 100%);}
.img{
    width:20%;
}
.title{
    color: black ;
    padding: 10px;
    margin: 0px;
}
