{% extends 'Base.html' %}

{% block head %}
<title>Acknowledgement</title>
{% endblock %}

{% block body %}
<diV class="container">
    <div class="separator" style="color: #e1e1e1; font-size: 2.5vmax; ">
        Acknowledgement
    </div>
    <br>
    <div class="HelpBolck" style="color: #e1e1e1; font-size: 1.5vmax; text-justify: auto;">
        I would like to thank everyone who have been a part of creation of LNR in any way. Some helped me with making open scource technologies that are used in LNR, Some helped me stay motivated, Some gave me new ideas to integrate, Some helped me with the Design. To all those who helped in any way I would like to thank you all.
    </div>
    <br>
    <div class="separator" style="color: #e1e1e1; font-size: 1.5vmax; font-family: 'Quicksand';">
        Names who Helped me
    </div>
    <div class="container">
        <ul class="HelpBolck" style="color: #e1e1e1; font-size: 1.25vmax;">
            <li>Khusboo</li>
            <li>Nitika</li>
            <li>Ayush</li>
            <li>Amisha</li>
            <li>Chandresh</li>
            <li>Raveena</li>
            <li>Chiranjivi</li>
        </ul>
        <p class="HelpBolck text-center" style="color: #e1e1e1;"><small>Those whose names are not here I apologies to them for this, It is not possible to mention everyone in here. With a hope that you all understand</small></p>
        <h1 class="HelpBolck text-center" style="color: #e1e1e1;">Thank you all for your support</h1>
    </div>
</diV>

<style>
    .HelpBolck{
        font-family: 'Quicksand',sans-serif;
    }
    .padall{
        padding: 2vmax;
    }
    .Flabel{
        font-size: 2vmax;
        color: #e1e1e1;
        font-family: "Quicksand",sans-serif;
        font-weight:550;
    }
    .separator {
        display: flex;
        align-items: center;
        text-align: center;
        margin-top: 2vmax;
        font-family: 'Anton',sans-serif;
    }
    .separator::before, .separator::after {
        content: '';
        flex: 1;
        border-bottom: 1px solid #e1e1e1;
    }
    .separator::before {
        margin-right: .25em;
    }
    .separator::after {
        margin-left: .25em;
    }
</style>

{% include 'includes/footer.html' %}
{% endblock %}