<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href={{url_for('static',filename="style.css")}}>
    
    {% block head %} {% endblock %}
</head>

<body>
    {% include 'includes/navbar.html' %}
    
        {% with messages = get_flashed_messages(with_categories=true) %}
        
        {% if messages %}
            <div class="container anim" style = "position:static; padding-top: 2vh;">
            {% for categories, message in messages %}        
            <div class="alert alert-{{categories}} alert-dismissible fade show" data-auto-dismiss role="alert">
                {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>       
            {% endfor %}
            </div>  
        {% endif %}
         
        {% endwith %}
     
        {% block body %} {% endblock %}
    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script>
        ;(function ($) {

        'use strict';

        $('.alert[data-auto-dismiss]').each(function (index, element) {
            var $element = $(element),
                timeout  = $element.data('auto-dismiss') || 4000;

            setTimeout(function () {
                $element.alert('close');
            }, timeout);
        });

        })(jQuery);
    </script>

    <style>
        body {
            background-color: #191D30;
        }
        .alert{
            width: 100%;
            padding-left: 2vw;
            padding-right: 2vw;
        }
        
    </style>


</body>

</html>