{% extends 'Base.html'%}

{% block head %}
<title>home</title>
{% endblock %}

{% block body %}

<!---------------1st Banner----------------------->

<section id="Banner">
    <div class="container anim">
        <div class="row sec">
            <div class="col-md-6 anim2 text-center">
                <p class='title'>
                    Welcome to
                </p>
                <img src={{url_for('static', filename='logo.svg')}} class="img" />
            </div>
            <div class="col-md-6 anim2 text-center">
                <p class='title-follow'>
                    Connect to Thousands of students accross India.</br>
                    More joining Daily.
                </p>
            </div>
        </div>
    </div>
    <div class="bg">
        <img src={{url_for('static', filename='BGIMG.svg')}} class="bottom-img" />
        <img src={{url_for('static', filename='moon.svg')}} class="moon" />
        <img src={{url_for('static', filename='cloud1.svg')}} class="Cloud1" />
        <img src={{url_for('static', filename='cloud1.svg')}} class="Cloud2" />
    </div>
</section>


<!----------------2nd Banner---------------------->
<section id="OUR-BELIVE">
    <div class="container anim">
        <p class="belive text-center"> Our belive! </p>
        <div class="row pad">
            <div class="col-md-6 anim2 text-center">
                <p class="serk">
                    S.E.R.K
                </p>
                <p class="SERKdef">
                    Share Exchange Refine Knowldge
                </p>
            </div>
            <div class="col-md-6 pull anim2 text-center">
                <p class="title-follow pull">
                    We belive in S.E.R.K.<br>
                    Means we want to share knowldge accross India and World.
                </p>
            </div>
        </div>
    </div>
    <br>
</section>

<style>
    /*-------------------------------HOME-Banner--------------------------------*/
    .bottom-img {
        width: 100%;
    }



    #Banner {
        background-image: linear-gradient(to right, #111111 0%, #1e1e1e 100%);
    }

    .img {
        width: 27vmax;
        align-self: center;
    }

    .title {
        font-family: "Lobster", cursive;
        font-size: 5vmax;
        color: #e1e1e1;
        padding-top: 16.5vmin;

    }

    .title-follow {
        font-family: "Patrick Hand";
        color: #e1e1e1;
        font-size: 2.28vmax;
        padding-top: 30.8vmin;
    }

    .bg {
        position: relative;
        overflow-x: hidden;
    }

    .Cloud1 {
        width: 30%;
        position: absolute;
        top: 40%;
        right: 30%;
        display: block;
        animation: cloud1 3.5s ease-out;
    }

    .Cloud2 {
        width: 25%;
        position: absolute;
        top: 30%;
        right: -5%;
        display: block;
        animation: cloud2 3.5s ease-out;

    }

    .moon {
        width: 25%;
        top: 10%;
        right: 10%;
        position: absolute;
        animation: glow 3.5s;
    }


    /*----------------2nd Banner-------------------*/
    .pad {
        padding-top: 20px;
    }

    .belive {
        padding-top: 12vmin;
        font-size: 6vmax;
        color: #e1e1e1;
        font-family: "Lobster";
    }

    .serk {
        font-family: "Indie Flower";
        font-size: 5vmax;
        color: #e1e1e1;
        padding-top: 12vmin;
    }

    .SERKdef {
        text-align: center;
        font-family: "Indie Flower";
        font-size: 3vmax;
        color: #e1e1e1;
        padding: 0px;
    }

    .pull {
        padding-top: 8.6vmin;

    }


    /*-----------------Animations----------------------*/
    .anim {
        animation-timing-function: ease-in-out;
        animation: fadeIN;
        animation-duration: 3.5s;
    }

    @keyframes fadeIN {
        from {
            opacity: 0%;
        }

        to {
            opacity: 100%;
        }
    }

    .anim2:hover {
        transform: scale(1.05, 1.05)
    }

    @keyframes cloud1 {
        0% {
            opacity: 50%;
            transform: translateX(100px);
        }

        100% {
            transform: translateX(0px);
        }
    }

    @keyframes cloud2 {
        0% {
            opacity: 50%;
            transform: translateX(-50px);
        }

        100% {
            transform: translateX(0px);
        }
    }

    @keyframes glow {
        0% {
            opacity: 40%;
            rotate: 0deg;
        }

        100% {
            opacity: 100%;
            rotate: 360deg;
        }
    }
</style>
{% endblock %}