{% extends 'Base.html'%}

{% block head %}
<title>home</title>
{% endblock %}

{% block body %}

<!---------------1st Banner----------------------->

<section id="Banner">
    <div class="container anim">
        <div class="row ">
            <div class="col-md-6 anim2 text-center">
                <p class='title'>
                    Welcome to
                </p>
                <img src={{url_for('static', filename='logo.svg')}} class="img" />
            </div>
            <div class="col-md-6 anim2 text-center">
                <p class='title-follow'>
                    Connect to Thousands of students accross India.</br>
                    More joining Daily.
                </p>
            </div>
        </div>
    </div>
    <div class="bg">
        <img src={{url_for('static', filename='BGIMG.svg')}} class="bottom-img" />
        <img src={{url_for('static', filename='moon.svg')}} class="moon" />
        <img src={{url_for('static', filename='cloud1.svg')}} class="Cloud1" />
        <img src={{url_for('static', filename='cloud1.svg')}} class="Cloud2" />
    </div>
</section>


<!----------------2nd Banner---------------------->
<section id="OUR-BELIVE" style="background-color: #191D30;">

    <div class="container anim">
        <p class="belive text-center"> Our belive! </p>
        <div class="row pad">
            <div class="col-md-6 anim2 text-center">
                <p class="serk">
                    S.E.R.K
                </p>
                <p class="SERKdef">
                    Share Exchange Refine Knowldge
                </p>
            </div>
            <div class="col-md-6 pull anim2 text-center">
                <p class="title-follow pull">
                    We belive in S.E.R.K.<br>
                    Means we want to share knowldge accross India and World.
                </p>
            </div>
        </div>
    </div>
    <br>
</section>

<style>
    .bottom-img {
        width: 100%;
    }

    #Banner {
        background-image: linear-gradient(to right, #111111 0%, #1e1e1e 100%);
    }

    .img {
        width: 27vmax;
        align-self: center;
    }

    .title {
        font-family: "Anton", sans-serif;
        font-size: 5vmax;
        color: #e1e1e1;
        padding-top: 8vmax;

    }

    .title-follow {
        font-family: "Quicksand", sans-serif;
        font-weight: 550;
        color: #e1e1e1;
        font-size: 2.28vmax;
        padding-top: 16vmax;
    }

    .bg {
        position: relative;
        overflow-x: hidden;
    }

    .Cloud1 {
        width: 30%;
        position: absolute;
        top: 40%;
        right: 30%;
        display: block;
        animation: cloud1 3.5s ease-out;
    }

    .Cloud2 {
        width: 25%;
        position: absolute;
        top: 30%;
        right: -5%;
        display: block;
        animation: cloud2 3.5s ease-out;

    }

    .moon {
        width: 25%;
        top: 10%;
        right: 10%;
        position: absolute;
        display: block;
        animation: glow 3.5s;
    }


    /*----------------2nd Banner-------------------*/
    .pad {
        padding-top: 20px;
    }

    .belive {
        margin-top: 0vmax;
        font-size: 6vmax;
        color: #e1e1e1;
        font-family: "Anton", sans-serif;
    }

    .serk {
        font-family: "Quicksand", sans-serif;
        font-size: 5vmax;
        font-weight: 550;
        color: #e1e1e1;
        padding-top: 8vmax;
    }

    .SERKdef {
        text-align: center;
        font-family: "Quicksand", sans-serif;
        font-size: 3vmax;
        font-weight: 550;
        color: #e1e1e1;
    }

    .pull {
        padding-top: 6.8vmax;
    }
</style>
{% endblock %}