{% extends 'Base.html'%}

{% block head %}
<title>Proflie</title> 
{% endblock %}

{% block body %}
<div class = "pull container anim " >
    <div class="jumbotron">
        {% if 'UserID' in session:%}
            <p class = "username text-center">{{UserData['UserName']}}</p>
            <div class="separator">User Info</div>
            <div style="font-family: 'Quicksand',sans-serif; font-size: 4.25vmin;">Name : {{UserData['Name']}}</div>
            
            <div style="font-family: 'Quicksand',sans-serif; font-size: 4.25vmin;">Email : {{UserData['Email']}}</div>
            
            <div style="font-family: 'Quicksand',sans-serif; font-size: 4.25vmin;">Birth Date : {{UserData['Age']}}</div>

            <div class="separator">Activies</div>

            <div class="row">
                    <div class="col-md-6" style="font-family: 'Quicksand',sans-serif; font-size: 4.25vmin;">No. of Question Asked : {{Question_data|length}}</div>
                
                    <div class="col-md-6" style="font-family: 'Quicksand',sans-serif; font-size: 4.25vmin;">No. of Question Answered : {{Answer_data|length}}</div>
            </div>
            
            <div class="row">
                <div class="col-md-6" style="margin-top: 2vmax;"><a class="btn btn-primary" href="/edit">Edit Profile</a></div>
            
                <div class="col-md-6" style="margin-top: 2vmax;"><a class="btn btn-danger" href="/logout">Logout</a></div>
            </div>

        </div>
            <div Id = "Question">
                {% if Question_data %}
                <p class='title-follow' style = "margin-top: 10vmin">You have asked following questions</p>
                {% else %}
                <p class='title-follow' style = "margin-top: 10vmin">You have asked no questions yet.</p>
                {% endif %}

                {% for data in Question_data %}
                <div class="card">
                    <div class="card-body">
                        <a class="stretched-link " href={{url_for('question', Qid = data['Qid'])}}></a>
                        <div class="row">
                        <div class="card-title col-md-10 fstyleNormal">{{data['Question']}} </div>
                        <div class ="col-md-2 ml-auto">
                            <p style = "font-size: 3.5vmin; padding: 1vmin; font-family: 'Patrick Hand';" >Answers - {{data['AnsCount']}}</p>
                        </div>
                        </div>
                        <div class="row">
                            <div class ="col-md-2">
                                <p class="User-date">On: {{data['PostDate']}}</p>
                            </div>
                            <div class ="col-md-3">
                                <p class="User-date">Subject: {{data['SubName']}}</p>
                            </div>
                            <div class ="col-md-2">
                                <p class="User-date">Standard: {{data['StdName']}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
        
                {% endfor %}
            </div>

            <div Id = "Answers">
                {% if Answer_data %}
                <p class='title-follow' style = "margin-top: 10vmin">You have asked following questions</p>
                {% else %}
                <p class='title-follow' style = "margin-top: 10vmin">You have asked no questions yet.</p>
                {% endif %}

                {% for data in Answer_data %}
                <div class="card">
                    <div class="card-body">
                        <a class="stretched-link " href={{url_for('question', Qid = data['Qid'])}}></a>
                        <div class="row">
                        <div class="card-title col-md-10 fstyleNormal">{{data['Question']}} </div>
                        <div class ="col-md-2 ml-auto">
                            <p style = "font-size: 3.5vmin; padding: 1vmin; font-family: 'Patrick Hand';" >Answers - {{data['AnsCount']}}</p>
                        </div>
                        </div>
                        <div class="row">
                            <div class ="col-md-2">
                                <p class="User-date">On: {{data['PostDate']}}</p>
                            </div>
                            <div class ="col-md-3">
                                <p class="User-date">Subject: {{data['SubName']}}</p>
                            </div>
                            <div class ="col-md-2">
                                <p class="User-date">Standard: {{data['StdName']}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
        
                {% endfor %}
            </div>

        {% else %}
            <h1 class="fstyleNormal">Not yet logged in</h1>
            <a class="btn btn-primary" href = "/login">Login</a>
            <a class="btn btn-success" href = "/register">Register</a>
        {% endif%}
    </div>


</div>
<style>

    .card-title{
        font-size: 5.5vmin;
        font-family: 'Quicksand',sans-serif;
        font-weight: 500;
    }
    .User-date{
        font-size: 2.25vmin;
        font-family:Arial, Helvetica, sans-serif;
    }
    .card{
        background-color: #111111;
        color: #e1e1e1;
        padding: 2vh;
    }
    .jumbotron{
        background-color: #111111;
        color: #e1e1e1;
        margin-top: 4vmax;
    }
    .username{
        font-family: 'Anton',sans-serif;
        font-size: 3.8vmax;
    }


    .separator {
        display: flex;
        align-items: center;
        text-align: center;
        margin-top: 2vmax;
        font-family: 'Quicksand',sans-serif;
    }
    .separator::before, .separator::after {
        content: '';
        flex: 1;
        border-bottom: 1px solid #e1e1e1;
    }
    .separator::before {
        margin-right: .25em;
    }
    .separator::after {
        margin-left: .25em;
    }
    
    

</style>
{% endblock %}