{% extends 'Base.html'%}
{%from "includes/_formhelpers.html" import render_field %}
{% block head %}
<title>Register</title>
{% endblock %}

{% block body %}
<div class= " pull container anim">
    <form method="POST" action="">
        {% for element in form%}
            <div class="form-group">
                {{ element.label(class="Flabel") }} {{ element(class="form-control") }}
            </div>
            {% if element.errors %}
                <ul class="errors err">{% for error in element.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}
        {%endfor%}
        <br>
        <input class="btn btn-primary" type="submit" value="Register">
    </form>
</div>
<style>
    .Flabel{
        font-size: 1.5vmax;
        color: #e1e1e1;
        font-family: "Patrick Hand";
    }
    .err{
        font-size: 1vmax;
        color: #e1e1e1;
        font-family: "Patrick Hand";
    }
</style>
{% endblock %}
